html {
  width: 100%;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  height: 1000vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9;
  background: -webkit-gradient(linear, left top, right top, from(#020929), color-stop(25%, #002bc3), color-stop(50%, #011772), color-stop(75%, #002bc3), to(#020929));
  background: linear-gradient(90deg, #020929 0%, #002bc3 25%, #011772 50%, #002bc3 75%, #020929 100%);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700px) {
  header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.dropdown {
  display: none;
}

.dropdown-active {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #011772;
  height: calc(100vh);
  width: 100vw;
  z-index: 10;
}

.navigation-item {
  background-color: transparent;
  opacity: 1;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  position: relative;
  width: 200px;
}

.navigation-item::before, .navigation-item::after {
  content: "";
  position: absolute;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: #ff951c;
  display: block;
  opacity: 0;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.navigation-item::before {
  top: 0;
}

.navigation-item::after {
  bottom: 0;
}

.navigation-item:hover {
  color: #fff;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.navigation-item:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

.navigation-item:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

.haburger-icon {
  border: none;
  padding: 10px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
  background-color: transparent;
}

.haburger-bar1,
.haburger-bar2,
.haburger-bar3 {
  width: 35px;
  height: 4px;
  background-color: white;
  margin: 7px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hamburger-change .haburger-bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger-change .haburger-bar2 {
  opacity: 0;
}

.hamburger-change .haburger-bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.hero-wrapper {
  width: 100%;
  background-color: black;
  color: white;
  background: url("./img/hero_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 32px;
  text-align: center;
}

.caret {
  opacity: 0;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.caret.active {
  opacity: 1;
}

.hero {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px 0;
}

.svg-wave {
  opacity: 1;
  width: 100vw;
  margin: 0;
  bottom: 0;
  z-index: 2;
}

svg {
  display: block;
}

.skills-wrapper {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.skills-wrapper h1 {
  margin: 0;
  font-size: 5rem;
  font-weight: 700;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.skill {
  font-size: 1.5rem;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  border: #002bc3 3px solid;
  width: 150px;
  height: 150px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill:hover {
  background-color: #002bc3;
}

.skill:hover img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.skill img {
  max-width: 100px;
  max-height: 100px;
  -webkit-transition-duration: 0.65s;
          transition-duration: 0.65s;
}

.skill .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.skill:hover .tooltiptext {
  visibility: visible;
}

.skill .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.projects h1 {
  font-weight: 700;
  font-size: 5rem;
  text-align: center;
}

.project {
  border: 2px yellowgreen solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project .title {
  text-align: center;
}

.project img {
  width: 150px;
  height: 150px;
}

footer {
  border: 5px red solid;
}
/*# sourceMappingURL=style.css.map */