html {
  width: 100%;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0;
  height: 0;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9;
  background: -webkit-gradient(linear, left top, right top, from(#020929), color-stop(25%, #002bc3), color-stop(50%, #011772), color-stop(75%, #002bc3), to(#020929));
  background: linear-gradient(90deg, #020929 0%, #002bc3 25%, #011772 50%, #002bc3 75%, #020929 100%);
  top: 0;
  height: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dropdown {
  display: none;
}

.dropdown-active {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #011772;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}

.navigation-item {
  background-color: transparent;
  opacity: 1;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  position: relative;
  width: 200px;
}

.navigation-item::before, .navigation-item::after {
  content: "";
  position: absolute;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: #ff951c;
  display: block;
  opacity: 0;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.navigation-item::before {
  top: 0;
}

.navigation-item::after {
  bottom: 0;
}

.navigation-item:hover {
  color: #fff;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.navigation-item:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

.navigation-item:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

.haburger-icon {
  border: none;
  padding: 10px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
  background-color: transparent;
}

.haburger-bar1,
.haburger-bar2,
.haburger-bar3 {
  width: 35px;
  height: 4px;
  background-color: white;
  margin: 7px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hamburger-change .haburger-bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger-change .haburger-bar2 {
  opacity: 0;
}

.hamburger-change .haburger-bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.hero-wrapper {
  width: 100%;
  background-color: black;
  color: white;
  background: url("./img/hero_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 32px;
  text-align: center;
}

.caret {
  opacity: 0;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.caret.active {
  opacity: 1;
}

.hero {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px 0;
}

.svg-wave {
  opacity: 1;
  width: 100%;
  margin: 0;
  bottom: 0;
  z-index: 2;
}

svg {
  display: block;
}

.skills-wrapper {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.skills-wrapper h1 {
  margin: 0;
  font-size: 5rem;
  font-weight: 700;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.skill {
  font-size: 1.5rem;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  border: #002bc3 3px solid;
  width: 100px;
  height: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill:hover {
  background-color: #002bc3;
}

.skill:hover img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.skill img {
  max-width: 100px;
  max-height: 100px;
  -webkit-transition-duration: 0.65s;
          transition-duration: 0.65s;
}

.skill .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.skill:hover .tooltiptext {
  visibility: visible;
}

.skill .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.projects h1 {
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
}

.project {
  border-top: 3px #002bc3 dashed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-direction: column-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project .content {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project .content .title {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 15px auto;
}

.project .content .description {
  font-weight: 700;
  font-size: 1.7rem;
  margin: 15px auto;
  text-align: justify;
}

.project .content .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0;
}

.project .content .technologies .skill {
  width: 100px;
  height: 100px;
}

.project img {
  margin: 0 auto;
  padding: 50px;
  width: 250px;
  height: 250px;
}

.form {
  border-radius: 10px;
  border: 2px solid #002bc3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  padding-bottom: 25px;
}

.form p {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.form label {
  padding: 0px 20px;
}

.form input {
  border-radius: 5px;
  margin: 10px 20px;
  padding: 5px;
}

.form textarea {
  border-radius: 5px;
  padding: 5px;
  margin: 10px 20px;
  height: 200px;
}

.form button {
  margin: 10px 20px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: #002bc3;
  -webkit-animation: hoveranimation 1s;
          animation: hoveranimation 1s;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.form button:hover {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes hoveranimation {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #002bc3;
            box-shadow: 0px 0px 0px 0px #002bc3;
  }
  50% {
    -webkit-box-shadow: 0px 0px 3px 5px #0031dd;
            box-shadow: 0px 0px 3px 5px #0031dd;
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 0px #002bc3;
            box-shadow: 0px 0px 0px 0px #002bc3;
  }
}

@keyframes hoveranimation {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #002bc3;
            box-shadow: 0px 0px 0px 0px #002bc3;
  }
  50% {
    -webkit-box-shadow: 0px 0px 3px 5px #0031dd;
            box-shadow: 0px 0px 3px 5px #0031dd;
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 0px #002bc3;
            box-shadow: 0px 0px 0px 0px #002bc3;
  }
}

footer {
  padding: 7px 0;
  text-align: center;
  color: white;
  background-color: #0029b9;
}
/*# sourceMappingURL=style.css.map */